body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gray;
    font-family: Arial, sans-serif;
}
#score {
    text-align: center;
    margin-top: 20px;body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #00000000;
        font-family: Arial, sans-serif;
    }
    
    #gameArea {
        width: 40px; 
        height: 20px;
        border: 20px solid #000; 
        background-color: #ffffff; 
    }
    
    #score {
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
    }
    
    font-size: 20px;
}


